# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# IDE-specific settings

# Eclipse/IntelliJ IDEA project files
/.idea/
/.classpath
/.project
/.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# Maven directories
/target/

# Gradle directories
/.gradle/
/build/

# VS Code directories
/.vscode/

# Mac-specific files
.DS_Store

